# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022-2024 The Foundation for Public Code <info@publiccode.net>

*.pdf
*.aux
*.log
*.synctex.gz
*.zip
*.xz
svg-inkscape/
num-front/
num-front-png/
num-front-vector/
num-back/
num-back-png/
release.body
printers-studio-box.svg

# from gh-pages branch
Gemfile.lock
_site/
vendor/
